{%extends "../base.html"%}
{% block title%}Login{%endblock%}

{%block content%}
<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header">Login</div>
  <div class="card-body">
    <form action="{%url 'login'%}" method="post">
    <div class="login-form">
            {%csrf_token%}
            {{form.as_p}}
            <input type="hidden" name="next" value="{{next}}"/>
            <input type="submit" value="Login">
    </div>
</form></div>

{%endblock%}

